[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freetype-py = "*"
numpy = "*"
Pillow = "10.1"
rectangle-packer = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
